body {
  margin: 0;
  height: 100%;
  display: block;
}

.full-form-render-container {
  width: 100%;
}

.render-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  padding: 40px;
  padding-top: 0px;
  padding-bottom: 120px;
}

.title-desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  padding: 40px;
  padding-top: 100px;
}

.bottom-container {
  display: flex;
  padding: 100px;
  padding-top: 0px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 40%;
  background-color: #ffffff;
  width: 100vw;
}

.pagination-buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 70vw;
  background-color: rgb(255, 255, 255);
}

.submit-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.success-message,
.error-message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  z-index: 9999;
}

.success-message {
  background-color: #28a745;
}

.error-message {
  background-color: #dc3545;
}

.view-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 200px;
  height: auto;
  min-height: 45px;
  background-color: #f7f7f7;
  padding-left: 10px;
}

.image-preview-render {
  max-width: 250px;
  height: auto;
  max-height: 200px;
  margin-top: 20px;
  overflow: hidden;
}

.image-preview-render img {
  width: auto;
  max-width: 250px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
}

.error2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-family: Arial, sans-serif;
  font-weight: normal;
  background-color: #ffffff;
  color: #333;
  width: 100%;
  min-height: 100vh;
  padding-top: 60px;
  box-sizing: border-box;
}

.center-question {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .pagination-buttons {
    min-width: 60%;
    width: 90vw;
    gap: 20%;
  }

  .render-form {
    padding-bottom: 10px;
  }

  .score-container {
    width: 100vw;
    padding-left: 0px;
  }

  .submit-button-container {
    position: sticky;
    margin-left: 0vw;
    margin-right: 0;
    margin-top: 80px;
    margin-bottom: 40px;
    justify-content: flex-start;
    padding-right: 0px;
    width: 90vw;
  }

  .submit-button {
    width: 200px;
  }
}
