.navbar {
  
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
}

.left-links,
.right-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.left-links a,
.right-links a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.left-links a:hover,
.right-links a:hover {
  color: #333;
  background-color: #f0f0f0;
}

.welcome-message {
  color: #f0f0f0;
  font-size: 14px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #333;
  color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #f0f0f0;
  color: #333;  
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #f0f0f0;
}

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    right: -10%;
  }

  .hamburger {
    display: flex;
  }

  .left-links,
  .right-links {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
    display: none;
  }

  .left-links.active,
  .right-links.active {
    display: flex;
    gap: 0px;
  }

  .left-links a,
  .right-links a,
  .logout-button {
    width: 100%;
    text-align: left;
    padding: 10px 15px;
  }

  .welcome-message {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .navbar-form-builder {
    width: 110%;
    margin-left: 20%;
  }
  .navbar-form-render {
    margin-left: 28%;
    width: 110%;
  }
  .navbar-form-login-register {
    right: -10%;
  }
}
