.home-container {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
  min-width: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #fcfcfc;
  padding: 10px 200px 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .home-container {
    font-family: Arial, sans-serif;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    margin-top: 80px;
  }

  .form-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
